body {
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    place-items: center;
    font-family: 'Nunito', sans-serif;
}
.header {
    text-align: center;
}
.header-title {
    color: #48F078;
}
.header-text {
    color: #48F078;
    text-decoration: underline;
}
.section {
    display: flex;
    justify-content: center;
    background-color: #57FAB3;
    opacity: 80%;
    width: 1000px;
    height: 490px;
    border-radius: 25px;
}
.section-title {
    width: 300px;
    color: white;
    text-align: left;
}
.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    margin-right: 100px;
}
.label-1 {
    margin-bottom: 7px;
    color: white;
}
.input-1 {
    border-radius: 50px;
    border: none;
    height: 24px;
    margin-bottom: 7px;
    text-align: center;
}
.label-2 {
    margin-bottom: 7px;   
    color: white;
}
.input-2 {
    border-radius: 50px;
    border: none;
    height: 24px;
    margin-bottom: 7px;    
    text-align: center;
}
.resultado {
    width: 300px;
    height: 150px;
    background-color: rgba(0,0,0,0.1);
    color: white;
    border-radius: 16px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section .image {
    width: 300px;
    height: 300px;
    align-items: center;
    margin: 110px 0 0 80px;
}
@media (max-width: 640px) {
    .section {
        width: 90%;
        text-align: center;
    }
    .header-title {
        width: 92%;
    }
    .section-title {
        text-align: center;
    }
    .section .image {
        display: none;
    }
    .form {
        width: 80%;
        margin: 0;
        position: absolute;
        text-align: center;
    }    
}